<!-- src/main/resources/templates/index.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head><title>Home Page</title></head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>
<p><a href="/swagger-ui/index.html">Swagger</a></p>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/oauth2/authorization/okta}">Log In</a> (this requires the Auth0 Client Secret)
</div>
<div sec:authorize="isAuthenticated()">
    <p>You are totally logged in!</p>
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <button type="submit" value="Log out">Log Out</button>
    </form>
</div>
<div sec:authorize="isAuthenticated()">
    <img th:src="${profile.get('picture')}" th:attr="alt=${profile.get('name')}" width="50px"/>
    <h2 th:text="${profile.get('name')}"></h2>
    <p th:text="${profile.get('email')}"></p>
    <a th:href="@{/logout}">Log Out</a>
</div>
</body>
</html>
