<div id="table-and-form">
    <h2>Ingredients</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="ingredients-table">
        <tr th:each="student: ${ingredients}">
            <td th:text="${student.id}"/>
            <td th:text="${student.name}"/>
        </tr>
        </tbody>
    </table>
    <h2>Add An Ingredient</h2>
    <form hx-post="/ingredients" hx-target="#table-and-form">
        <label>
            Name
            <input name="name" type="text">
        </label>
        <label>
            Type
            <select name="type" id="type">
                <option value="SPIRITS">Spirits</option>
            </select>
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
